.Banner-Container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 100vw;
    height: 75vh;
    margin-top: 0.5em;
}

.Banner-Container-Component{
    display: flex;
    background-color: blue;
    width: 75vw;
    height: 55vh;
}

.Banner-Left-Side{
    background-color: Black;
    width: 37.5vw;
    height: 55vh;
}

.Banner-Image-Carosel{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width:100%;
    height:85%
}

.Banner-Image-1{
    width: 45vw;
    height: 25vh;
}

/* .Radio-Button-Group{ */
/* 
}

.Radio-Button{

} */

.Banner-Right-Side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: Green;
    width: 37.5vw;
    height: 55vh;
}

.Listing-Name-Container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Listing-Name{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 20vw;
    height: 8vh;
    font-size: 3em;
}

.Listing-Description-Container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Listing-Description{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height:6vh;
    background-color: aqua;
}

.Listing-Price-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Listing-Price{
    background-color: aqua;
}