.Nav-Bar-Div{
    display: flex;
    justify-content: space-around;
    /* background-color: #A3CEF1; */
    width: 100vw;
    height: 6vh;
}

.Icon-Container{
    /* background-color: hotpink; */
    width: 4vw;
    height: 6vh;

}

.Site-Logo{
    /* background-color: #6096BA; */
    width: 4vw;
    height: 6vh;
    margin-left: 0.5em;
}

.Title-Container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: blue; */
    width: auto;
    height: 6vh;
    margin-left: 1.5em;
}

.Title{
    /* color: #274C77; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4vh;
    font-family: 'Proxima Nova','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* background-color: red; */
    font-size: 2rem;
    font-weight: 450;
}

.Search-Bar-Container{
    display:flex;
    justify-content: center;
    /* background-color: black; */
    align-items: center;
    /* background-color: black; */
    width:10vw;
    height:6vh;
    margin-top: 0.25em;
    margin-left: 3em;
}

.Search-Bar{
    margin:1em;
    width: 8vw;
    height:2vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Proxima Nova','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.Left-Nav-Side{
    display:flex;
    width: 50vw;
    height: 6vh;
    /* background-color: green; */
}

.Right-Nav-Side{
    display:flex;
    justify-content: end;
    align-items: center;
    width: 50vw;
    height: 6vh;
}

.Button-Container{

    margin: 0.5em 2em 0.5em 2em;
}

.Shop-Button{
    background-color: #4caf4f00;
    border: 0px solid rgba(60, 60, 60, 0.721);
    /* color: #E7ECEF; */
    padding: 1.25em;
    text-align: center;
    text-decoration: none;
    width:auto;
    height:auto;
    font-size: 1.15em;
    border-radius: 0.25em 0 0 0.25em;
}

.Discover-Button{
    border: 0px solid rgba(60, 60, 60, 0.721);
    background-color: #4caf4f00;
    color: none;
    /* color: #E7ECEF; */
    padding: 1.25em;
    text-align: center;
    text-decoration: none;
    width:auto;
    height:auto;
    font-size: 1.15em;
}

.Login-Button{
    border: 0px solid rgba(60, 60, 60, 0.721);
    background-color: #4caf4f00;
    /* color: #E7ECEF; */
    padding: 1.25em;
    text-align: center;
    text-decoration: none;
    width:auto;
    height:auto;
    font-size: 1.15em;
}

.My-Cart-Button{
    border: 0px solid rgba(60, 60, 60, 0.721);
    background-color: #4caf4f00;
    /* color: #E7ECEF; */
    padding:1.25em;
    text-align: center;
    text-decoration: none;
    width:auto;
    height:auto;
    font-size: 1.15em;
}

.Support-Button{
    border: 0px solid rgba(60, 60, 60, 0.721);
    background-color: #4caf4f00;
    /* color: #E7ECEF; */
    padding: 1.25em;
    text-align: center;
    text-decoration: none;
    width:auto;
    height:auto;
    font-size: 1.15em;
    border-radius: 0 0.25em 0.25em 0;
}

