.Search-Bar{
    background-color: white;
    margin:1em;
    width: 8vw;
    height:1.5vh;
    font-size: 14px;
    /* border-color: rgba(60, 60, 60, 0.721); */
    border: 0.12em solid rgba(60, 60, 60, 0.721);
}